#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 30px;
  line-height: 26px;
  font-family: 'Oswald', sans-serif;
}

#container p {
  font-size: 20px;
  line-height: 22px;
  font-family: 'Gemunu Libre', sans-serif;
  color: whitesmoke;
  margin: 0;
  padding: 2%;
}

#container a {
 text-align: center;
}
ion-button{
margin-top: 3%;
color: whitesmoke;
}

#footer-title{
  font-size: 15px;
}